* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #141414;
  color: #fff;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #0b0b0b;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

button {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
