.films {
  background-color: #141414;
  min-height: 100vh;
}

.films__content {
  padding-top: 100px;
}

.films__title {
  color: #e5e5e5;
  font-size: 48px;
  font-weight: 700;
  padding: 0 60px;
  margin-bottom: 30px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
  font-size: 24px;
  background-color: #141414;
}
