.my-list {
  background-color: #141414;
  min-height: 100vh;
}

.my-list__content {
  padding-top: 100px;
  padding-left: 60px;
  padding-right: 60px;
}

.my-list__title {
  color: #e5e5e5;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px;
}

.my-list__empty {
  color: #b3b3b3;
  font-size: 20px;
  text-align: center;
  margin-top: 100px;
}
